
**/.DS_Store
**/_DS_Store
**/.swp

# Don't include credentials
**/.env

# Don't include private keys
**/*.pem

# Don't include detached process output
**/nohup.out

# Ignore python artifacts
**/__pycache__

# Ignore node_modules
frontend/node_modules/*
backend/node_modules/*
github-app/node_modules/*
worker/node_modules/*


# ignore git_repos
backend/git_repo*
github-app/git_repo*
worker/git_repo*

# Ignore doxygen related files
backend/doxygen*

# Ignore semantic related files
backend/semantic

# Ignore Windows service executables
backend/daemon*
worker/daemon*

node_modules/*
