files:
  /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -f /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
      service nginx stop 
      service nginx start

container_commands:
  removeconfig:
    command: "rm -f /var/proxy/staging/nginx/conf.d/elasticbeanstalk/00_application.conf /etc/nginx/conf.d/elasticbeanstalk/00_application.conf"